.user-input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:  25px 0 25px 0;
    
}
.user-input > div{
    width: 100%;
    max-width: 60rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: fit-content;

}
.input-field{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.input-field span{
    text-wrap: nowrap;
}


.input-field select{
    padding: 4px;
    width: 100%;
    max-width: 15rem;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(138, 138, 138);
}

@media screen and (max-width: 600px) {
    .input-field select{
        max-width: 10rem;
    }

    .input-field{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .input-field select{
        max-width: 7rem;
    }
    .user-input > div{
        width: 100%;
        max-width: 60rem;
        display: flex;
        justify-content: space-between;
    
    }
}

@media screen and (max-width: 270px) {
    .input-field select{
        max-width: 5rem;
    }
}