header{
    font-size: 30px;
    font-weight: 600;
    color: rgb(31, 31, 31);
    width: 100%;
    display: flex;
    justify-content: center;
}

header div{
    width: 100%;
    max-width: 60rem;
    text-align: center;
    padding: 15px;
}
header span{
    color: rgb(64, 64, 214);
}